
ChessLikeGame/UserSettings/Layouts/CurrentMaximizeLayout.dwlt
ChessLikeGame/UserSettings/Layouts/default-2021.dwlt
*.dwlt
ChessLikeGame/UserSettings/Layouts/default-2021.dwlt
ChessLikeGame/UserSettings/EditorUserSettings.asset
ChessLikeGame/Assets/Scripts/Chess/Control/.idea/.idea.Control.dir/.idea/vcs.xml
ChessLikeGame/Assets/Scripts/Chess/Control/.idea/.idea.Control.dir/.idea/indexLayout.xml
ChessLikeGame/Assets/Scripts/Chess/Control/.idea/.idea.Control.dir/.idea/encodings.xml
ChessLikeGame/Assets/Scripts/Chess/Board/.idea/.idea.Board.dir/.idea/vcs.xml
ChessLikeGame/Assets/Scripts/Chess/Board/.idea/.idea.Board.dir/.idea/indexLayout.xml
ChessLikeGame/Assets/Scripts/Chess/Board/.idea/.idea.Board.dir/.idea/encodings.xml
.idea/.idea.ChessLikeGame.dir/.idea/vcs.xml
.idea/.idea.ChessLikeGame.dir/.idea/indexLayout.xml
ChessLikeGame/Assets/Prefabs/MultiPlayer/Networking/WebSocketConnection Marks Variant.prefab
ChessLikeGame/Assets/Prefabs/MultiPlayer/Networking/WebSocketConnection Marks Variant.prefab.meta
ChessLikeGame/Assets/Prefabs/MultiPlayer/Networking/WebSocketConnection Marks Variant.prefab.meta
ChessLikeGame/UserSettings/Layouts/default-2021.dwlt
